# File for sensetive environment variables
# Fill out with appropriate data and rename file as ".env"


DATABASE_URL=postgresql://user:password@localhost:5432/db
ADMIN_EMAIL=example@example.com

# JWT token
SECRET_KEY=super_secret_key
ALGORITHM=for_example - HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10800

# type of environment
DEV_OR_PROD=dev

# email settings
EMAIL_PASSWORD=super_password
EMAIL_HOST=email_host
EMAIL_FROM=email_from
EMAIL_PORT=465

API_VERSION=1

# token generator for activate account and reset password
SECRET_KEY_TOKEN_GENERATOR=secure_token
TOKEN_EXPIRED_TIMEOUT=600

#cache settings
REDIS_CACHE_URL_DEV=redis://redis_blog:ZHwfjy98SGsW@localhost:6379/6
REDIS_CACHE_URL_PROD=redis://redis_blog:ZHwfjy98SGsW@localhost:6379/7

# celery settings
CELERY_BROKER_URL_DEV=redis://user:password@localhost:6379/1
CELERY_BACKEND_URL_DEV=redis://user:password@localhost:6379/2
CELERY_BROKER_URL_PROD=redis://user:password@localhost:6379/2
CELERY_BACKEND_URL_PROD=redis://user:password@localhost:6379/2
# only for testing purposes
CELERY_TASK_ALWAYS_EAGER=True

# flower oauth settings
AUTH_PROVIDER=flower.views.auth.GithubLoginHandler
AUTH=example@example.con
OAUTH2_KEY=secret_key
OAUTH2_SECRET=secure_secret
OAUTH2_REDIRECT_URI=schema://host:port/endpoint

# database for testing
DATABASE_URL_TEST=postgresql://user:password@localhost:5432/test_db